<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="/public/favicon.ico"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
      <section id="urlbox">
          <br><br>
          <div id="formurl" class="mw450">
              <input id="shortenurl" type="text" value="https://shorturl.at/4JSg7" onclick="if (!window.__cfRLUnblockHandlers) return false; this.select();">
              <div id="formbutton">
                  <input type="button" data-clipboard-target="#shortenurl" class="copy" value="Copy URL" onclick="if (!window.__cfRLUnblockHandlers) return false; toggle_visibility('balloon');">
                </div>
            </div>
            <div id="formurl" class="mw450dblock">
                <div id="balloon" style="display: table;">URL Copied</div>
            </div>
            <div id="formurl" class="mw450dblock">
                <p class="boxtextleft">
                    Long URL: <a href="https://www.freecodecamp.org/certification/fccadceb9f8-7d46-411b-9f73-f0da0f312724/data-analysis-with-python-v7" target="_blank">https://www.freecodecamp.org/certification/fccadceb9f8-7d46-411b-9f73-f0da0f312724/data-analysis-with-python-v7</a><br><br>
                    <a href="url-total-clicks.php?u=shorturl.at/4JSg7" class="colorbuttonsmall">Total of clicks of your short URL</a><br>
                    <a href="https://www.shorturl.at/" class="colorbuttonsmall">Shorten another URL</a><br><br>
                    <span class="textmedium">* Short URLs that do not have at least one click per month are disabled</span>
                </p>
            </div>
        </section>
        <footer>
            <p>By Amunwes <a href="https://amunwes.github.io/">My website</a></p>
        </footer>
    </body>
</html>